---
import Title from "../components/typograhy/Title.astro"
---

<main class="container mx-auto">
  <Title variant="primary">About me</Title>
  <Title variant="secondary">Why did I use Astro?</Title>
</main>
